<div class="container">
    <div class="logo">
        <div class="image">
            <img src="../../assets/img/LOGO-white.jpg" atl="TaylorBuilders Logo"/>
        </div>
    </div>
    <div class="contactInfo">
        <div class="labels">
            <p class="emailLabel">EMAIL:</p>
            <p class="phoneLabel">PHONE:</p>
        </div>
        <div class="info">
            <p class="contactEmail"><a href="mailto:{{email}}">{{email}}</a></p>
            <p class="contactPhone"><a href="tel:{{phone}}">{{phone}}</a></p>
        </div>
    </div>
</div>
