<app-static-banner bannerImage="../../assets/img/banner-frosted.png"></app-static-banner>

<mat-toolbar color="primary" class="nav">
  <img class="navLogo" src="../assets/img/LOGO.png" alt="Taylor Builders Logo">
</mat-toolbar>

<div class="content">
  <app-page-section title="about us">
    <app-about-us></app-about-us>
  </app-page-section>
  <app-page-section title="taylor builders" bg-image="../../assets/img/description-frosted.png">
    <p class="compDesc">{{companyDescription}}</p>
  </app-page-section>
  <app-page-section title="contact us">
    <app-contact-us></app-contact-us>
  </app-page-section>
</div>


<!-- <router-outlet></router-outlet> -->