
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$my-primary: (
    50 : rgba(255,255,255,.89),
    100 : rgba(255,255,255,.89),
    200 : rgba(255,255,255,.89),
    300 : rgba(255,255,255,.89),
    400 : rgba(255,255,255,.89),
    500 : rgba(255,255,255,.89),
    600 : rgba(255,255,255,.89),
    700 : rgba(255,255,255,.89),
    800 : rgba(255,255,255,.89),
    900 : rgba(255,255,255,.89),
    A100 : rgba(255,255,255,.89),
    A200 : rgba(255,255,255,.89),
    A400 : rgba(255,255,255,.89),
    A700 : rgba(255,255,255,.89),
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$taylor-builders-primary: mat-palette($my-primary);
$taylor-builders-accent: mat-palette($mat-blue);

// The warn palette is optional (defaults to red).
$taylor-builders-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$taylor-builders-theme: mat-light-theme($taylor-builders-primary, $taylor-builders-accent, $taylor-builders-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($taylor-builders-theme);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
